body{
    background: black;   
}

form label{
    display: block;
    font-size: 20px;
    color:white;
}
form input{
    display:block;
    background:yellow;
    color:blue;
    font-weight: bold;
}
